@charset "UTF-8";

@font-face{
font-family:fcocoa;
src:url('../fcocoa/hucocoa.eot');
src:local(※), 
	url('../fcocoa/hucoc9oa.woff') format('woff');
}

body,
button,
input,
file,
textarea,

select,
textarea,
script,
p,
body{
	font-family: fcocoa;
	font-weight: normal;
	font-size:15px;
	margin: 0;
}